
    Body{
        margin-left: 15%;
        margin-right: 15%;
    }

    .container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;    
    }

    #fundo {
        position: relative;
    }

    #header {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 42px;
        text-decoration-line: underline;
        color: #343638;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #menu ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 49px;
        text-align: right;
    }

    #menu li{
        display: inline-block;
        margin-left: 20px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
           
    }

    a {
        color: black;
        text-decoration: none;
    }

    #body {
        background-color: rgb(212, 226, 221);
       
    }

    #headerCta {
        padding: 15px;
        margin-left: 60px;

    }

    #buttonCta {
        background: #343638;
        border-radius: 50px;
        font-family: Poppins;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        padding: 10px 25px 10px 25px;
    }

    #headerCta p {
        font-family: Poppins;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        padding-bottom: 50px;
    
    }


    #headerCta h1 {
        font-family: Poppins;
        font-style: normal;
        font-size: 55px;
        line-height: 82px;
        font-weight: bold;
        color:  #343638;
    }

    .headerFoto {
        text-align: center;
    }

    #procedimentos {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #headerProcedimentosText{
        font-family: Poppins;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600px;
    }

    header img {
        margin-left: 120px;

    }

    #headerImg img {
        width: 60%;
        margin-left: 120px;
        padding-top: 25px;
        border-radius: 50px; 
        margin-top: 20px;
    }

    #cont0 {
        background-image: url(img/fundo3.jpg);
        border-radius: 30px;
        padding-right: 15px;
        padding-left: 15px;
    }

    #procedimentos {
        margin-top: 50px;
        font-family: Poppins;
    }

    .headerFoto {
        padding: 35px;
        border-radius: 50px;
        font-weight: bold;
    }
    i {
        width: 80px;
        margin-top: 20px;
        text-align: center;
    }
    .headerProcedimentosText {
        font-family: Poppins;
        font-style: normal;
        font-size: 35px;
        font-weight: bold;
        color:  #343638;
        text-align: center;
    }
    #contact{
        text-align: center;
        font-weight: normal;
        color:  #ffffff;
        font-size: 20px;
        background-color: #343638;
        border-radius: 30px;
        padding: 15px;
    }
    #contactForm{
        text-align: center;
    }
    #contactForm input{
        background-color: #ffffff;
        border-radius: 50px;
        font-family: Poppins;
        font-style: normal;
        font-size: 15px;
        font-weight: normal;
        color:  #343638;
        line-height: 24px;
        text-align: center;
        border:0;
        width: 80%;
        padding: 20px 15px 15px 15px;
    }
    #contactForm button{
        background-color: #1f7cff;
        border-radius: 50px;
        padding: 15px 30px 15px 30px;
        font-family: Poppins;
        font-style: normal;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        border: 0;
        color:  #ffffff;
        text-align: center;
    }
    #contactImg1 img{
        margin-left: 0px;
        padding-top: 10px;
        border-radius: 50px; 
        margin-top: 20px;
        width: 50%;
    }
    #portfolioTitle{
        margin-top: 100px;
    }
    
    #portfolioTitle h1{
        font-family: Poppins;
        font-style: normal;
        font-size: 20px;
        font-weight: bold;
        color:  #1f22c9;
    }
    #portfolioTitle h2{
        font-family: Poppins;
        font-weight: bold;
        color:  #343638;
        font-size: 30px;
    }
    #portfolioImg img{
        width: 80%;
        padding: 10px;
        border-radius: 30px;
        
    }